# Don't track content of these folders
__pycache__/
Example-DNA/
Example-scAB/
Error/

# Files to be ignored
setup.py
Test_data/heavy_test.fasta
Test_data/light_test.fasta
Test_data/Test_data-features.csv
Test_data/alignments/
Test_data/heavy.germ
Test_data/light.germ
Test_data/test.log
save-git-pass.sh
coverage-report/coverage.xml

.venv
.vscode